<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Child Call - Display</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body class="display">
  <span class="id"></span>
  <script>
    const socket = io(window.location.origin);
    
    socket.on('code', function(msg) {
      document.getElementsByClassName('id')[0].remove()

      let id = document.createElement("span")
      id.classList.add('id')
      id.classList.add('fade')
      id.innerText = msg !== undefined ? msg : ""

      document.body.appendChild(id)

      socket.emit('displayed', msg)
    });
  </script>
</body>

</html>